body{
  background-color: #003333;
}

img{
  padding: 45px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  background-color: #cce6ff;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 45px;
 
}

li a:hover:not(.active) {
  background-color: #33cc33;
}

.active {
  background-color: blue;
}

.logo:hover {
  background-color: white;
}

.container{
    display: grid;
    grid-template-columns: 650px;
    text-align: right;
    padding-bottom: 10px;
    grid-gap: 20px;
    }

nav{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
  }



main{
   background-color: #66ffff;
   margin-left: 300px; 
   margin-right: 300px;
}

nav{
  background-color: #cce6ff;
  color: black;
}